:root {
    --cor-de-fundo: #E6E8E6;
    --cor-cabecalho: #080708;
    --cor-texto: #FDCA40;
    --tamanho-texto-padrão: 200%;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    display: flex;
    justify-content: center;
    background-color: var(--cor-cabecalho);
    font-family: 'Karma';
}

.home {
    font-size: var(--tamanho-texto-padrão);
    padding: 2% 10%;
    color: var(--cor-texto);
}